extends layout

block content
  h1= title
  - const results1 = []

  div(class="container mt-4")
    div(class="row m-1")
      each icecream, index in results
        - let destination = `dispatch("/icecream/update?id=${icecream._id}")`
        div(class="col-sm-4 mb-3 icecream-card")
          div(class="card")
            div(class="card-body")
              h3(class="card-text") #{icecream.flavor}
              p(class="card-text") Type: #{icecream.type}
              p(class="card-text") Rating: #{icecream.rating}
              button.btn(class="btn-primary ml-1", onclick=destination) Update

  script.
    function dispatch(path){
      window.location.href = path;
    }
