extends layout

block content
  h1= title
  - let icecreameid = toShow._id
  - let flavor = toShow.flavor
  - let type = toShow.type
  - let rating = toShow.rating
  div
    div.row
      div(class='icecreamAttr mr-3') icecreame ID is:
      div #{icecreameid}
    div.row
      div(class='icecreamAttr mr-3') icecreame flavor is:
      div #{flavor}
    div.row
      div(class='icecreamAttr mr-3') icecreame type is:
      div #{type}
    div.row
      div(class='icecreamAttr mr-3') icecreame rating is:
      div #{rating}
